<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garufa.memorytest" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.garufa.memorytest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizImage1"
            android:label="Memory Test 1"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".QuizImage2"
            android:label="Memory Test 1"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".QuizImage3"
            android:label="Memory Test 1"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Quiz"
            android:label="Memory Quiz"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
